@model IEnumerable<ShopTARgv24.Models.Kindergartens.KindergartenIndexViewModel>

<div class="h1 text-center">Kindergartens</div>
<form method="post">
    <div class="table-responsive shadow rounded">
        <table class="table table-striped table-bordered align-middle text-center table-hover">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Group name</th>
                    <th scope="col">Children count</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Kindergarten name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var rowNumber = 1;
                }
                @foreach (var kindergartens in Model)
                {
                    <tr>
                        <td>@rowNumber</td>
                        <td>@kindergartens.GroupName</td>
                        <td>@kindergartens.ChildrenCount</td>
                        <td>@kindergartens.TeacherName</td>
                        <td>@kindergartens.KindergartenName</td>
                    </tr>
                    rowNumber++;
                }
            </tbody>
        </table>
    </div>
</form>